<section class='projects'>
    <h3 class='projects__title'>Projects</h3>
    <ul class='projects__list'>
        <!-- Project 1 -->
        <li class='projects__item projects__item--travel'>
            <figure class='projects__figure'>
                <img src='assets/images/main/Natours.png' alt='image-placeholder' class='projects__image' />
                <figcaption class='projects__caption'></figcaption>
            </figure>
            <div class="projects__content">
                <h4 class='projects__name'>Travel Site</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>HTML</li>
                    <li class='projects__tech-item'>CSS</li>
                    <li class='projects__tech-item'>SCSS</li>
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://eshwagadkar.github.io/Natours/' class='projects__link'>
                            VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                        <a href='https://github.com/eshwagadkar/Natours/' class='projects__link'>
                            VIEW CODE
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Project 2 -->
        <li class='projects__item projects__item--quiz'>
             <figure class='projects__figure'>
                <img src='assets/images/main/quiz-game.png' alt='image-placeholder' class='projects__image' />
                <figcaption class='projects__caption'></figcaption>
             </figure>
             <div class="projects__content">
                <h4 class='projects__name'>Quiz App</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>Javascript</li>
                    <li class='projects__tech-item'>React</li>
                    <li class='projects__tech-item'>JSX</li>
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://quiz-game-using-react-fundamentals.netlify.app/' class='projects__link'>
                        VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                    <a href='https://github.com/eshwagadkar/quiz-app' class='projects__link'>
                        VIEW CODE
                    </a>
                    </li>
                </ul>
             </div>
        </li>
        <!-- Project 3 -->
        <li class='projects__item projects__item--monster'>
            <figure class='projects__figure'>
                <img src='assets/images/main/monster-stayer.png' alt='image-placeholder' class='projects__image' />
                <figcaption class='projects__caption'></figcaption>
            </figure>
            <div class="projects__content">
                <h4 class='projects__name'>Monster Slayer</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>HTML</li>
                    <li class='projects__tech-item'>CSS</li>
                    <li class='projects__tech-item'>Javascript</li>
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://eshwas-js-hub.github.io/monster-slayer-v2/' class='projects__link'>
                            VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                        <a href='https://github.com/eshwas-js-hub/monster-slayer-v2' class='projects__link'>
                            VIEW CODE
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Project 4 -->
        <li class='projects__item projects__item--tic-tac-toe'>
             <figure class='projects__figure'>
                <img src='assets/images/main/tic-tac-toe-game.png' alt='image-placeholder' class='projects__image' />
                <figcaption class='projects__caption'></figcaption>
             </figure>
             <div class="projects__content">
                <h4 class='projects__name'>Tic-Tac-Toe</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>Javascript</li>
                    <li class='projects__tech-item'>React</li>
                    <li class='projects__tech-item'>JSX</li>
                    <li class='projects__tech-item'>HTML</li>
                    <li class='projects__tech-item'>CSS</li>
                    <li class='projects__tech-item'>Component</li>
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://tic-tac-toe-using-react-fundamentals.netlify.app/' class='projects__link'>
                            VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                        <a href='https://github.com/eshwagadkar/tic-tac-toe/' class='projects__link'>
                            VIEW CODE
                        </a>
                    </li>
                </ul>
             </div>
        </li>
        <!-- Project 5 -->
        <li class='projects__item projects__item--meals'>
            <figure class='projects__figure'>
                <img src='assets/images/main/meals-order-app.png' alt='image-placeholder' class='projects__image' />
                <figcaption class='projects__caption'></figcaption>
            </figure>
            <div class="projects__content">
                <h4 class='projects__name'>Meals Order</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>React</li>
                    <li class='projects__tech-item'>Context-API</li>
                    <li class='projects__tech-item'>Custom-Hooks</li>
                    {{!-- <li class='projects__tech-item'>Form-Actions</li> --}}
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://meals-order-application-using-react.netlify.app/' class='projects__link'>
                            VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                        <a href='https://github.com/eshwagadkar/meals-order-app' class='projects__link'>
                            VIEW CODE
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Project 6 -->
        <li class='projects__item projects__item--portfolio'>
            <figure class='projects__figure'>
                <img src='assets/images/main/portfolio-website.png' alt='image-placeholder' class='projects__image'/>
                <figcaption class='projects__caption'></figcaption>
            </figure>
            <div class="projects__content">
                <h4 class='projects__name'>Portfolio</h4>
                <ul class='projects__tech-list'>
                    <li class='projects__tech-item'>Handle-Bars</li>
                    <li class='projects__tech-item'>Webpack</li>
                    <li class='projects__tech-item'>SCSS</li>
                    <li class='projects__tech-item'>JavaScript</li>
                </ul>
                <ul class='projects__links'>
                    <li class='projects__link-item'>
                        <a href='https://eshwa-gadkar-portfolio-website.netlify.app/' class='projects__link'>
                            VIEW PROJECT
                        </a>
                    </li>
                    <li class='projects__link-item'>
                        <a href='https://github.com/eshwagadkar/personal-portfolio' class='projects__link'>
                            VIEW CODE
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul> 
</section>