<section class="projects">
    <h3>Projects</h3>
    <ul class="projects__container">
        <li class="projects-item project-1">
            <img src="assets/images/main/Natours.png" alt="image-placeholder"/>
            <h4>Travel Site Landing</h4>
            <ul>
                 <li>HTML</li>
                 <li>CSS</li>
                 <li>SCSS</li>
             </ul>
             <ul>
                 <li><a href="https://eshwagadkar.github.io/Natours/">VIEW PROJECT</a></li>
                 <li><a href="https://github.com/eshwagadkar/Natours/">VIEW CODE</a></li>
             </ul>
        </li>
        <li class="projects-item project-2">
            <img src="assets/images/main/quiz-game.png" alt="image-placeholder"/>
            <h4>Quiz App</h4>
            <ul>
                <li>Javascript</li>
                <li>React</li>
                <li>JSX</li>
            </ul>
            <ul>
                <li><a href="https://quiz-game-using-react-fundamentals.netlify.app/">VIEW PROJECT</a></li>
                <li><a href="https://github.com/eshwagadkar/quiz-app">VIEW CODE</a></li>
            </ul>
        </li>
        <li class="projects-item project-3">
            <img src="assets/images/main/monster-stayer.png" alt="image-placeholder" />
            <h4>Monster Slayer Game</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <ul>
                <li><a href="https://eshwas-js-hub.github.io/monster-slayer-v2/">VIEW PROJECT</a></li>
                <li><a href="https://github.com/eshwas-js-hub/monster-slayer-v2">VIEW CODE</a></li>
            </ul>
        </li>
        <li class="projects-item project-4">
            <img src="assets/images/main/tic-tac-toe-game.png" alt="image-placeholder"/>
            <h4>Tic-Tac-Toe Game</h4>
            <ul>
                <li>Javascript</li>
                <li>React</li>
                <li>JSX</li>
            </ul>
            <ul>
                <li><a href="https://tic-tac-toe-using-react-fundamentals.netlify.app/">VIEW PROJECT</a></li>
                <li><a href="https://github.com/eshwagadkar/tic-tac-toe/">VIEW CODE</a></li>
            </ul>
        </li>
        <li class="projects-item project-5">
            <img src="assets/images/main/meals-order-app.png" alt="image-placeholder" />
            <h4>Meals Order App</h4>
            <ul>
                <li>React</li>
                <li>Context API</li>
                <li>Custom Hooks</li>
            </ul>
            <ul>
                <li><a href="https://meals-order-application-using-react.netlify.app/">VIEW PROJECT</a></li>
                <li><a href="https://github.com/eshwagadkar/meals-order-app">VIEW CODE</a></li>
            </ul>
        </li>
        <li class="projects-item project-6">
            <img src="assets/images/main/portfolio-website.png" alt="image-placeholder"/>
            <h4>Personal Portfolio</h4>
            <ul>
                <li>HandleBars</li>
                <li>Webpack</li>
                <li>SCSS</li>
            </ul>
            <ul>
                <li><a href="https://eshwa-gadkar-portfolio-website.netlify.app/">VIEW PROJECT</a></li>
                <li><a href="https://github.com/eshwagadkar/personal-portfolio">VIEW CODE</a></li>
            </ul>
        </li>
    </ul> 
</section>