<section class="skills">
    <ul class="skills__container">
        <li>
            <h3>HTML5</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>CSS3</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>SCSS</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Tailwind</h3>
            <h4>Intermediate</h4>
        </li>
         <li>
            <h3>ShadCN</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Javascript</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>React.js</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Redux</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Next.js</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Webpack</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Node.js</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>Express.js</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>REST API</h3>
            <h4>Intermediate</h4>
        </li>
        <li>
            <h3>GraphQl</h3>
            <h4>Begineer</h4>
        </li>
         <li>
            <h3>Git</h3>
            <h4>Advanced</h4>
        </li>
        <li>
            <h3>TypeScript</h3>
            <h4>Begineer</h4>
        </li>
    </ul> 
</section>