<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eshwagadkar</title>
</head>
<body class="main-grid-layout">
    <!----------------- Start : Banner ------------------------------------>
    <section class="hero-banner">

        <!-- Start : Banner Header -->
        <header class="hero-banner__header">

            <!-- Start : Logo Container -->
            <div class="hero-banner__logo-container">
                
            </div>
            <!-- End : Logo Container -->

            <!-- Start : Navigation Section -->
            <section class="navigation">
                <input type="checkbox">
            </section>
            <!-- End : Navigation Section -->

        </header>
        <!-- End : Banner Header -->

        <!-- Start : Banner Content -->
        <div class="hero-banner__content">

        </div>
        <!-- End : Banner Content -->

    </section>
    <!----------------- End : Banner --------------------------------------->
    
    <!----------------- Start : Main Content ------------------------------->
    <main class="main">

    </main>
    <!----------------- End : Main Content --------------------------------->

    <!----------------- Start : Footer ------------------------------------->
    <footer class="footer">

    </footer>
    <!----------------- End : Footer --------------------------------------->
 </body>
</html>