.hero-banner{
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));

    // Header
    &__header{
        grid-row: 1 / 2;

        display: grid;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-columns: repeat(4, minmax(min-content, 1fr));

        @include respond(phone-xs){
            grid-template-columns: repeat(6, minmax(min-content, 1fr));
        }
    }

    &__logo-container{

        grid-row: 1 / 2;
        grid-column: 1 / 5;

        @include respond(phone-xs){
            grid-column: 2 / 6;
        }

        & a{
            text-decoration: none;
        }
        
        & h1{
            text-align: center;
            color: $color-white;
            font-size: 1.5rem;
            margin: 1rem 0;

            @include respond(phone-xs){
                font-size: 1.2rem;
            }
        }
    }

    &__sm-ref-container{

        grid-row: 2 / 3;
        grid-column: 1 / 5;

        @include respond(phone-xs){
            grid-column: 2 / 6;
        }

        display: flex;
        justify-content: space-evenly;

        background-image: linear-gradient(to top, $color-black-1, $color-black);

        & li{
            list-style: none;
        }
    }

    // Content
    &__main{
        grid-row: 2 / 3;

        display: grid;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-columns: repeat(4, minmax(min-content, 1fr));

        @include respond(phone-xs){
            grid-template-columns: repeat(6, minmax(min-content, 1fr));
        }
    }

    &__image-container{
        background-color: $color-black-1;
        grid-row: 1 / 2;
        grid-column: 1 / 5;

        @include respond(phone-xs){
            grid-column: 2 / 6;
        }

        display: flex;

        & img{
            flex: 1;
        }

    }

    &__content-container{
        grid-row: 2 / 3;
        grid-column: 1 / 5;

        padding: .8rem;
        
        @include respond(phone-xs){
            grid-column: 1 / 7;

            text-align: center;
            padding: 1rem;

        }
        & h2{ 
            font-size: 1.8rem;
            
            @include respond(phone-xs){
                font-size: 1.6rem;
            }
        }

        & span {
             font-size: 1.5rem;

             & span{ border-bottom: 2px solid $color-green; }
        }

        & p { 
            font-size: 1.1rem; 
            margin: .625rem 0;

            @include respond(phone-xs){
                font-size: 1rem; 
                margin: 1rem 0 1.4rem;
            }
        }

        & a {
            text-decoration: none;
            color: $color-white;
            border-bottom: 2px solid $color-green;
            padding-bottom: .5rem;
        }

    }
}

