@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/animation' as *;


.main{
    margin:  2.5rem 3.5rem 0;

    @include respond(tab-port){
        margin: 4.5rem 3rem 0;
        display: grid;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-columns: 3rem calc(100vw - 6rem) 3rem;
        margin: 5rem 0 0;
    }
            
    @include respond(desktop){
        grid-template-columns: 6rem calc(100vw - 12rem) 6rem;
    }
    
    @include respond(l-desktop){
        grid-template-columns: 165px calc(1280px - 330px) 165px;
        border-left: 1px solid $color-light-grey;
        border-right: 1px solid $color-light-grey;
        margin: 0;
        padding-bottom: 4rem;
    }
    
    & .skills {
        
        border-top: 1px solid $color-light-grey;
        border-bottom: 1px solid $color-light-grey;

        @include respond(tab-port){
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        &__container {

            width: min(62.5rem, 100%);
            margin: 3rem auto;
            
            @include respond(tab-port){
               margin: 3.2rem auto 2rem;
            }

            @include respond(tab-port){
               display: grid;
               grid-template-rows: repeat(8, minmax(min-content, max-content));
               grid-template-columns: 50% 50%
            }

            @include respond(tab-land){
               display: grid;
               grid-template-rows: repeat(4, minmax(min-content, max-content));
               grid-template-columns: repeat(4, 1fr);
               column-gap: 1rem;
            }
            
            
            & li {
                width: 100%;
                height: 90px;
                font-weight: bold;
                
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                @include respond(tab-port){
                  justify-content: unset;
                  align-items: unset;
                }

                & h3{
                    font-size: clamp(2rem, calc(6vw + 1rem), 2.4rem);
                }

                & h4{
                    color: $color-grey;
                }


                @include respond(tab-port){
                  justify-content: start;
                }
            }
        }

    }

    & .projects {
                
        @include respond(tab-port){
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        &__title {
            margin: 2rem auto;
            font-size: 2rem;
            text-align: center;

            @include respond(tab-port){
             text-align: left;
            }

        }
        
        &__list {

            @include respond(tab-port){
                display: grid;
                grid-template-rows: repeat(2, minmax(min-content, max-content));
                grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
                gap: 2rem;
                list-style: none;
                padding: 0;
                margin-bottom: 60px;
            }
            
            @include respond(tab-small){
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
            
            @include respond(tab-medium){
                grid-template-columns: repeat(3, minmax(200px, 1fr));
            }

        }

        &__item {
            margin-bottom: 50px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            border: 1px solid rgba($color:$color-light-grey, $alpha: .3);
            
            &:hover { transform: translateY(-5px); }
                        
            @include respond(tab-port){
                 margin-bottom: 0px;
            }

        }
        
        &__figure {
            width: 100%;
            aspect-ratio: 16 / 12;
            overflow: hidden;
            margin: 0;
            position: relative;
        }
        
        &__content {
            position: relative;
            
            &::after{
                content: '';
                background-color: rgba($color-primary, .6);
                transition: all .3s ease; 
                position: absolute;
                top: 0%;
                left: 0%;  
                bottom: 0;
                right: 0;
            }
        }
            
        &__image { width: 100%; }

        &__caption{
            background-color: rgba($color-primary, .6);
            transition: all .3s ease;

            position: absolute;
            top: 0%;
            left: 0%;  
            bottom: 0;
            right: 0;
        }

        &__item:hover .projects__caption { 
            background-color: transparent;
        }

        &__item:hover .projects__content::after { 
            background-color: transparent;

            position: unset;
        }


        &__name {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
            margin: 1rem 0 .5rem;
            color: #fff;
            text-transform: uppercase;
        }

        &__tech-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style: none;
            padding: 0;
            margin: 0 0 1rem 0;
        }

        &__tech-item {
           font-size: 0.85rem;
           color: #928f8f;
           text-transform: uppercase;
           letter-spacing: 0.5px;
           font-weight: 500;
        }
        
        &__links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.5rem;
            list-style: none;
            padding: 0;
        }
        
        &__link {
            text-decoration: none;
            color: #fff;
            font-size: 0.7rem;
        }
        
        &__link-item {
            padding-bottom: .3rem;
            border-bottom: .5px solid $color-green;
        }
    }
}