{{!-- Start: Hero Banner Image Container --}}
<div class="header__image-wrapper">
    <div class="header__image-skeleton"></div>
    <picture class="header__image-container" style="display: none;">
        <source srcset="/assets/images/header/large.png 1050w,
                        /assets/images/header/large-high-dpi.png 1527w" 
                        alt="banner-image-vl" media="(min-width: 900px)">
        <source srcset="/assets/images/header/medium.png 990w,
                        /assets/images/header/medium-high-dpi.png 1491w"
                        alt="banner-image-md" media="(min-width: 600px)">
        <img srcset="/assets/images/header/small.png 690w, 
                    /assets/images/header/small-high-dpi.png 920w" 
                    alt="banner-image" />
    </picture>
</div>
{{!-- End: Hero Banner Image Container --}}