{{!-- Start: Hero Banner Content Container --}}
<div class="header__content-container">
    <h2>Hello There!<br><span>I'm <span>Eshwa Gadkar.</span></span></h2>
    <p>I'm a frontend-developer passionate about building accessible web apps that users love.</p>
    <a href="#">CONTACT ME</a>
</div>
{{!-- End: Hero Banner Content Container  --}}
