 <header class="header"> 
      <div class="image-skeleton"></div> <!-- Skeleton Placeholder -->
       {{> header-logo }}
       {{> header-sm-links }}
       {{> header-banner-image }}
       {{> header-banner-content }}
</header>