<!-- Start : Hero Banner Content -->
<div class="hero-banner__main">
    <div class="hero-banner__image-container">
        <img src="./assets/images/banner-image.jpg"/>
    </div>
    <div class="hero-banner__content-container">
        <h2>I'm Eshwa Gadkar.</h2>
        <p>I'm a frontend-developer passionate about building accessible web apps that users love.</p>
    </div>
</div>
    
<a href="#">CONTACT ME</a>
<!-- End : Hero Banner Content -->