<!-- Start : Hero Banner Content -->
<div class="hero-banner__main">

    {{!-- Start: Hero Banner Image Container --}}
    <div class="hero-banner__image-container">
        <img src="./assets/images/banner-image-xs.png" alt="banner-image"/>
    </div>
    {{!-- End: Hero Banner Image Container --}}

    {{!-- Start: Hero Banner Content Container --}}
    <div class="hero-banner__content-container">
        <h2>I'm Eshwa Gadkar.</h2>
        <p>I'm a frontend-developer passionate about building accessible web apps that users love.</p>
        <a href="#">CONTACT ME</a>
    </div>
    {{!-- End: Hero Banner Content Container  --}}
</div>
    
<!-- End : Hero Banner Content -->