<!-- Start : Hero Banner Content -->
<div class="hero-banner__main">

    {{!-- Start: Hero Banner Image Container --}}
    <picture class="hero-banner__image-container">
        <source srcset="./assets/images/banner-image-vl.png" alt="banner-image-vl" media="(min-width: 1280px)">
        <source srcset="./assets/images/banner-image-lg.png" alt="banner-image-lg" media="(min-width: 900px)">
        <source srcset="./assets/images/banner-image-md.png" alt="banner-image-md" media="(min-width: 600px)">
        <img src="./assets/images/banner-image-sm.png" alt="banner-image-sm" width="100%" />
        {{!-- <img src="./assets/images/banner-image-xs.png" alt="banner-image-xs" width="100%"/> --}}
    </picture>
    {{!-- End: Hero Banner Image Container --}}

    {{!-- Start: Hero Banner Content Container --}}
    <div class="hero-banner__content-container">
        <h2>Hello There!<br><span>I'm <span>Eshwa Gadkar.</span></span></h2>
        <p>I'm a frontend-developer passionate about building accessible web apps that users love.</p>
        <a href="#">CONTACT ME</a>
    </div>
    {{!-- End: Hero Banner Content Container  --}}
</div>
    
<!-- End : Hero Banner Content -->