<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eshwagadkar</title>
</head>
<!------------------- Start: Main Page Grid Layout ---------------------------->
<body class="main-grid-layout">

    <!----------------- Start : Hero Banner ------------------------------------>
    {{> partials/header/index}}
    <!----------------- End : Hero Banner ------------------------------------->
    
    <!----------------- Start : Main Content ---------------------------------->
    {{> partials/main/index}}
    <!----------------- End : Main Content ------------------------------------>

    <!----------------- Start : Footer ---------------------------------------->
    {{> partials/footer/footer}}
    <!----------------- End : Footer ------------------------------------------>
    
</body>
<!------------------- End: Main Page Grid Layout ------------------------------>
</html>